.inner-launch-item {
  background: #fff;

  img {
    background: #e8dcdc;
    width: 14em;
  }

  li,
  p {
    color: #98afc7;
  }

  .launch-title {
<<<<<<< HEAD
    color: darkblue;
=======
    color: darkBlue;
>>>>>>> 92329da15d1b83ef433d128b0a8e46e62b55931a
  }
}

@media screen and (min-width: 700px) {
  .launch-item {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .launch-item {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
